{
  "plugins": [
    "emotion"
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "targets": { "chrome": 66 },
        "debug": true,
        "useBuiltIns": false
      }
    ],
    "@babel/react"
  ]
}
